:root {
  --clr-white-bg: #F3F2F0;

  /* Contrast ratio of 7.48:1 (compliant with WCAG AA and AAA for small and large texts */
  /* On hover, the contrast ratio between blue-accent and blue-bg-dark also complies with WCAG  */
  --clr-blue-accent: #023e8a;
  --clr-blue-bg: #E3ECF3;
  --clr-blue-bg-dark: #D4DEE8;

  /* Contrast ratio of 7.05:1 (compliant with WCAG AA and AAA for small and large texts */
  --clr-gray: #58585F;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white-bg);
  overflow-y: scroll;
}

header,
section {
  margin-bottom: 2.5rem;
}

h2 {
  margin-bottom: 1.5rem;
}

h2,
h3 {
  font-weight: 600;
}

p {
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  height: 10rem;
  margin: 0 auto;
  padding: 2rem;
  border-top: 1px solid lightgray;
  background-color: white;
}

footer p {
  color: var(--clr-gray);
}

.page {
  background-color: white;
  padding: 1rem 2rem;
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 2;
}

.profile__title h1 {
  font-size: 2.1rem;
  font-weight: 600;
}

.profile__title p {
  font-size: 1.3rem;
}

.profile__picture {
  border-radius: 100%;
  width: 170px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.social-media__platform {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 3px;
  cursor: pointer;
}

.social-media__link {
  color: var(--clr-blue-accent);
}

.social-media__link:hover {
  color: var(--clr-blue-accent);
  text-decoration: underline;
}

.section__about p {
  line-height: 1.7;
  margin-bottom: 1rem;
}

.section__about a {
  color: var(--clr-blue-accent);
  cursor: pointer;
}

.section__about a:hover {
  text-decoration: underline;
}

.section__projects {
  min-height: 852px;
  margin-bottom: 0;
}

.projects-nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
  list-style-type: none;
}

.projects-nav__item {
  padding-bottom: 2px;
  color: var(--clr-blue-accent);
  border-bottom: 2px solid white;
}

.projects-nav__item.active {
  color: var(--clr-blue-accent);
  border-bottom: 2px solid var(--clr-blue-accent);
}

.projects-nav__item:hover {
  cursor: pointer;
  color: var(--clr-blue-accent);
  border-bottom: 2px solid var(--clr-blue-accent);
}

.projects-nav__separator {
  font-size: 1.7rem;
  text-decoration: none;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(50% - 1rem);
  margin-bottom: 2rem;
  height: 15rem;
  padding: 1.5rem;
  border: 1px solid lightgray;
  border-radius: .8rem;
}

.card:hover {
  border-color: var(--clr-blue-accent);
}

.card__description {
  color: var(--clr-gray);
}

.card__links__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-blue-accent);
}

.card__link {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding: 10px 20px;
  color: var(--clr-blue-accent);
  background-color: var(--clr-blue-bg);
  transition: background-color .1s;
}

.card__link:hover {
  background-color: var(--clr-blue-bg-dark);
  border: none;
}

@media (max-width: 920px) {
  .card {
    height: 14rem;
  }
}

@media (max-width: 768px) {
  .page {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projects-container {
    gap: 2rem;
  }

  .card {
    border-radius: 0;
    padding: 1.2rem 0;
    margin: 0;
    height: 100%;
    border: none;
    flex-basis: 100%;
  }

  .card__title,
  .card__description {
    margin-bottom: 1.5rem;
  }

  .card::after {
    content: "";
    position: relative;
    width: 100%;
    left: 0;
    bottom: -2.2rem;
    height: 1px;
    background-color: lightgray;
  }

  .card__links {
    justify-content: flex-start;
    gap: 5.3rem;
  }

  .section__about a,
  .projects-nav__list,
  .card__link {
    font-weight: 500;
  }

  footer {
    border-top: none;
  }
}

@media (max-width: 420px) {

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.2rem;
  }

  a,
  li {
    font-size: 1.1rem;
  }

  .page {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .social-media {
    gap: 1.2rem;
  }

  .projects-nav__list {
    flex-direction: column;
    align-items: baseline;
    list-style-type: disc;
    margin-left: 1.5rem;
    gap: 1.5rem;
  }

  .projects-nav__item {
    font-size: 1.2rem;

  }

  .projects-nav__separator {
    display: none;
  }

  .projects-container {
    gap: 2rem;
  }

  .card__links {
    gap: 0;
    justify-content: space-between;
  }

  footer {
    padding: 2rem 0;
    justify-content: space-evenly;
  }
}

@media (max-width: 360px) {
  .page {
    padding: 1rem .8rem;
  }

  .social-media {
    justify-content: center;
  }

  .social-media:last-child {
    justify-self: flex-start;
  }
}

@media (max-width: 320px) {
  .fa-arrow-right {
    display: none;
  }
}